[submodule "mimesis-inria/sofa"]
	path = mimesis-inria/sofa
	url = git@github.com:mimesis-inria/sofa.git
	branch = mimesis
[submodule "assist/simulation/assist_inverse_simulation"]
	path = assist/simulation/assist_inverse_simulation
	url = git@forge.icube.unistra.fr:assist/simulation/assist_inverse_simulation.git
[submodule "assist/simulation/assist_sofa"]
	path = assist/simulation/assist_sofa
	url = git@forge.icube.unistra.fr:assist/simulation/assist_sofa.git
[submodule "assist/simulation/assist_cgal"]
	path = assist/simulation/assist_cgal
	url = git@forge.icube.unistra.fr:assist/simulation/assist_cgal.git
[submodule "assist/simulation/assist_simulation"]
	path = assist/simulation/assist_simulation
	url = git@forge.icube.unistra.fr:assist/simulation/assist_simulation.git
[submodule "sofa/mimesis/mimesiscript"]
	path = sofa/mimesis/mimesiscript
	url = git@forge.icube.unistra.fr:sofa/mimesis/mimesiscript.git
[submodule "sofa/mimesis/sofaconfig"]
	path = sofa/mimesis/sofaconfig
	url = git@forge.icube.unistra.fr:sofa/mimesis/sofaconfig.git
[submodule "sofa/mimesis/projectivexray"]
	path = sofa/mimesis/projectivexray
	url = git@forge.icube.unistra.fr:sofa/mimesis/projectivexray.git
[submodule "sofa/mimesis/SofaCUDAUtils"]
	path = sofa/mimesis/SofaCUDAUtils
	url = git@forge.icube.unistra.fr:sofa/mimesis/SofaCUDAUtils.git
[submodule "sofa/mimesis/SofaCUDADev"]
	path = sofa/mimesis/SofaCUDADev
	url = git@forge.icube.unistra.fr:sofa/mimesis/SofaCUDADev.git
[submodule "sofa/mimesis/SofaAsyncSolvers"]
	path = sofa/mimesis/SofaAsyncSolvers
	url = git@forge.icube.unistra.fr:sofa/mimesis/SofaAsyncSolvers.git
[submodule "sofa/mimesis/SofaCUDALDI"]
	path = sofa/mimesis/SofaCUDALDI
	url = git@forge.icube.unistra.fr:sofa/mimesis/SofaCUDALDI.git
[submodule "sofa/mimesis/SofaCUDASolvers"]
	path = sofa/mimesis/SofaCUDASolvers
	url = git@forge.icube.unistra.fr:sofa/mimesis/SofaCUDASolvers.git
[submodule "sofa/SofaSolvers"]
	path = sofa/SofaSolvers
	url = git@forge.icube.unistra.fr:sofa/SofaSolvers.git
[submodule "sofa/mimesis/NeedleConstraintPlugin"]
	path = sofa/mimesis/NeedleConstraintPlugin
	url = git@forge.icube.unistra.fr:sofa/mimesis/NeedleConstraintPlugin.git
[submodule "sofa/mimesis/optitrackplugin"]
	path = sofa/mimesis/optitrackplugin
	url = git@forge.icube.unistra.fr:sofa/mimesis/optitrackplugin.git
[submodule "sofa/mimesis/opencvplugin"]
	path = sofa/mimesis/opencvplugin
	url = git@forge.icube.unistra.fr:sofa/mimesis/opencvplugin.git
[submodule "sofa/mimesis/networkplugin"]
	path = sofa/mimesis/networkplugin
	url = git@forge.icube.unistra.fr:sofa/mimesis/networkplugin.git
[submodule "sofa/mimesis/registrationcst"]
	path = sofa/mimesis/registrationcst
	url = git@forge.icube.unistra.fr:sofa/mimesis/registrationcst.git
[submodule "sofa/mimesis/sofascheduler"]
	path = sofa/mimesis/sofascheduler
	url = git@forge.icube.unistra.fr:sofa/mimesis/sofascheduler.git
[submodule "sofa/mimesis/SperryCUDA"]
	path = sofa/mimesis/SperryCUDA
	url = git@forge.icube.unistra.fr:sofa/mimesis/SperryCUDA.git
[submodule "sofa/msofaplugin-private"]
	path = sofa/msofaplugin-private
	url = git@forge.icube.unistra.fr:sofa/msofaplugin-private.git
[submodule "sofa/sofahaptic"]
	path = sofa/sofahaptic
	url = git@forge.icube.unistra.fr:sofa/sofahaptic.git
[submodule "sofa/CollisionAlgorithm"]
	path = sofa/CollisionAlgorithm
	url = git@forge.icube.unistra.fr:sofa/CollisionAlgorithm.git
[submodule "sofa/ConstraintGeometry"]
	path = sofa/ConstraintGeometry
	url = git@forge.icube.unistra.fr:sofa/ConstraintGeometry.git
[submodule "sofa/NeedleConstraintPluginDev"]
	path = sofa/NeedleConstraintPluginDev
	url = git@forge.icube.unistra.fr:sofa/NeedleConstraintPluginDev.git
[submodule "sofa/collisionalgorithmdev"]
	path = sofa/collisionalgorithmdev
	url = git@forge.icube.unistra.fr:sofa/collisionalgorithmdev.git
[submodule "assist/assist_gui"]
	path = assist/assist_gui
	url = git@forge.icube.unistra.fr:assist/assist_gui.git
[submodule "assist/assist_opengl"]
	path = assist/assist_opengl
	url = git@forge.icube.unistra.fr:assist/assist_opengl.git
[submodule "assist/extlibs/tinyxml"]
	path = assist/extlibs/tinyxml
	url = git@forge.icube.unistra.fr:assist/extlibs/tinyxml.git
[submodule "assist/extlibs/imgui-node-editor"]
	path = assist/extlibs/imgui-node-editor
	url = git@forge.icube.unistra.fr:assist/extlibs/imgui-node-editor.git
[submodule "assist/extlibs/implot"]
	path = assist/extlibs/implot
	url = git@forge.icube.unistra.fr:assist/extlibs/implot.git
[submodule "assist/extlibs/imguicolortextedit"]
	path = assist/extlibs/imguicolortextedit
	url = git@forge.icube.unistra.fr:assist/extlibs/imguicolortextedit.git
[submodule "assist/extlibs/imgui-filebrowser"]
	path = assist/extlibs/imgui-filebrowser
	url = git@forge.icube.unistra.fr:assist/extlibs/imgui-filebrowser.git
[submodule "assist/lib/assist_core"]
	path = assist/lib/assist_core
	url = git@forge.icube.unistra.fr:assist/lib/assist_core.git
[submodule "assist/lib/assist_utils"]
	path = assist/lib/assist_utils
	url = git@forge.icube.unistra.fr:assist/lib/assist_utils.git
[submodule "assist/lib/assist_pylib"]
	path = assist/lib/assist_pylib
	url = git@forge.icube.unistra.fr:assist/lib/assist_pylib.git
[submodule "assist/lib/assist_gpu"]
	path = assist/lib/assist_gpu
	url = git@forge.icube.unistra.fr:assist/lib/assist_gpu.git
[submodule "assist/assist_main"]
	path = assist/assist_main
	url = git@forge.icube.unistra.fr:assist/assist_main.git
[submodule "assist/assist_fork"]
	path = assist/assist_fork
	url = git@forge.icube.unistra.fr:assist/assist_fork.git
[submodule "assist/network/assist_ros2plugin"]
	path = assist/network/assist_ros2plugin
	url = git@forge.icube.unistra.fr:assist/network/assist_ros2plugin.git
[submodule "assist/network/assist_transport"]
	path = assist/network/assist_transport
	url = git@forge.icube.unistra.fr:assist/network/assist_transport.git
[submodule "assist/network/assist_optitrack"]
	path = assist/network/assist_optitrack
	url = git@forge.icube.unistra.fr:assist/network/assist_optitrack.git
[submodule "assist/network/assist_transport_eigen"]
	path = assist/network/assist_transport_eigen
	url = git@forge.icube.unistra.fr:assist/network/assist_transport_eigen.git
[submodule "assist/visual/assist_glfw"]
	path = assist/visual/assist_glfw
	url = git@forge.icube.unistra.fr:assist/visual/assist_glfw.git
[submodule "assist/visual/assist_imgui"]
	path = assist/visual/assist_imgui
	url = git@forge.icube.unistra.fr:assist/visual/assist_imgui.git
[submodule "assist/visual/assist_imgui_gl"]
	path = assist/visual/assist_imgui_gl
	url = git@forge.icube.unistra.fr:assist/visual/assist_imgui_gl.git
[submodule "assist/visual/assist_node-editor"]
	path = assist/visual/assist_node-editor
	url = git@forge.icube.unistra.fr:assist/visual/assist_node-editor.git
[submodule "assist/visual/assist_gl"]
	path = assist/visual/assist_gl
	url = git@forge.icube.unistra.fr:assist/visual/assist_gl.git
[submodule "assist/visual/assist_implot"]
	path = assist/visual/assist_implot
	url = git@forge.icube.unistra.fr:assist/visual/assist_implot.git
[submodule "assist/visual/assist_texteditor"]
	path = assist/visual/assist_texteditor
	url = git@forge.icube.unistra.fr:assist/visual/assist_texteditor.git
[submodule "assist/image/assist_cimg"]
	path = assist/image/assist_cimg
	url = git@forge.icube.unistra.fr:assist/image/assist_cimg.git
[submodule "assist/image/assist_image"]
	path = assist/image/assist_image
	url = git@forge.icube.unistra.fr:assist/image/assist_image.git
[submodule "assist/image/assist_vtkdicom"]
	path = assist/image/assist_vtkdicom
	url = git@forge.icube.unistra.fr:assist/image/assist_vtkdicom.git
[submodule "assist/image/assist_cv"]
	path = assist/image/assist_cv
	url = git@forge.icube.unistra.fr:assist/image/assist_cv.git
[submodule "assist/robot/assist_robot"]
	path = assist/robot/assist_robot
	url = git@forge.icube.unistra.fr:assist/robot/assist_robot.git
[submodule "assist/robot/assist_sperry"]
	path = assist/robot/assist_sperry
	url = git@forge.icube.unistra.fr:assist/robot/assist_sperry.git
[submodule "sofa/sperry"]
	path = sofa/sperry
	url = git@forge.icube.unistra.fr:sofa/sperry.git
[submodule "assist/robot/assist_haptic"]
	path = assist/robot/assist_haptic
	url = git@forge.icube.unistra.fr:assist/robot/assist_haptic.git